<%- include('./partials/head') %>
	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->
	<!-- Banner -->
<main>
	<div class="banner">
		<img src="/images/banner-prog" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">En Stock</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for(let i=0; i<remeras.length; i++){%>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/remeras/product">
						<figure class="product-box_image">
							<img src=<%= remeras[i].imgUrl%> alt=<%= remeras[i].nombre%>>
						</figure>
						<article class="product-box_data">
							<h2><%= remeras[i].nombre%></h2>
							<p><%= remeras[i].descripcion%></p>
							<p><%= remeras[i].comentarios%></p>
						</article>
					</a>
			</section>
			</div>
			<%}%>


		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
		</div>
	</div>
</main>
	<!-- /Más comentados -->


<%- include('./partials/footer.ejs') %>
