<%- include('./partials/head') %>
	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<main>
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<!-- <h2 class="products-title">Camiseta Austria-1938</h2>  -->
			<h2 class="products-title"> <%= producto.nombre_producto%></h2>
			<p class="product-detail-description"<%= producto.descripcion%>>
				<a href="/remeras/edit/<%- producto.id %>">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<!-- <img src='/images/Austira-1938.jpeg' alt="" class="product-detail-img"> -->
					<img src= <%= producto.img_url%> alt="" class="product-detail-img">
					<!-- <p class="product-detail-description">
						Camiseta vintage de fútbol de Austria 1938, segunda equipación. Camiseta usada en el partido del Anschluss entre Austria y Alemania para celebrar la anexión a este última que tenía que terminar con un empate pero Austria ganó gracias a las hazañas de Matthias Sindelar </p> -->
						<p class="product-detail-description"><%= producto.descripcion%> </p>
					</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%for(let i = 0; i < producto.productos_comentarios.length; i++){%>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
							<strong> <a href='/users/profile/<%= producto.productos_comentarios[i].usuario_id%>' > <%= producto.productos_comentarios[i].usuario_id%> </a> </strong>
								<%= producto.productos_comentarios[i].comentario %> </p>
							</div>
						</article>
						<%}%>
					</section>
					<form class="form" action="/remeras/product/<%-producto.id%>"  method="post">
						<input name="comentario" class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
</main>
<%- include('./partials/footer') %>
