<%- include('./partials/head') %>
	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<main>
		<section class="info-usuario container products-wrapper">
			<div class="col-12">
				<% if(perfil_logueado) {%>
				<a href="/users/edit/">Editar mi perfil</a> 
				<%	} %>
				<!-- a las rutas sacarles el parametro -->
			</div>
			<div class="row">
				<div class="data-container col-6">
					<div class="d-flex align-items-center ">
						<h1 class="main-title"><%= usuario.usuario %>
							<a href="/users/edit">
								<i class="fas fa-cog"></i>
							</a>
						</h1>
						<a class="btn-seguir" href="">SEGUIR</a>
					</div>
					<div>
						<ul class="Profile-info">
							<li>
								<%= usuario.email %>
							</li>
							<br>
							<li><%= usuario.usuarios_productos.length %></li>
							<li>200 seguidores</li>
							<li><%= usuario.usuarios_comentarios.length %></li>
						</ul>
					</div>
				</div>
				<div class="container-foto-perfil">
					<img src= <%= usuario.pf %> alt="foto de perfil" class="foto-perfil">
					<!-- falta un boton de editar perfil?-->
				</div>
			</div>
		</section>
		<!-- /Datos del usuario -->
		<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<% if(perfil_logueado) {%>
					<h2 class="register-title">Mis publicaciones:</h2>
					<% }else{ %>
						<h2 class="products-title">Productos publicados:</h2>
				<%	} %>
				</div>
				<!-- Show mis productos -->
				<% for(let i=0; i< usuario.usuarios_productos.length; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/remeras/product/<%- usuario.usuarios_productos[i].id %>">
							<figure class="product-box_image">
								<img src="<%= usuario.usuarios_productos[i].img_url%>" alt=<%= usuario.usuarios_productos[i].nombre_producto%>>
							</figure>
							<article class="product-box_data">
								<h2><%= usuario.usuarios_productos[i].nombre_producto %></h2>
								<p><%= usuario.usuarios_productos[i].descripcion %></p>
							</article>
						</a>
					</section>
				</div>
				<%}%>
			</div>
		</div>

	<!-- /Mis productos -->

</main>
<%- include('./partials/footer') %>