<%- include('./partials/head') %>

	<!-- Header -->
<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
    <main>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="register-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/profile/<%= usuario.id %>" method="POST" id="registerForm">
				<input type="text" name="email" value="<%= usuario.email %>" >
				<input type="text" name="username" value="<%= usuario.username %>">
				<input type="password" name="password" placeholder="Ingrese su contraseña" >
				<input type="number" name="DNI" value="<%= usuario.DNI  %>">
				<input type="date" name="cumpleaños" value="<%= usuario.cumpleaños %>" >
				<input type="text" name="foto_perfil" value="<%= usuario.foto_perfil %>">
				<button type="submit">Confrimar cambios</button>
			</form>

<!-- "aca tiene que ir la informacion que viene desde el register" -->

    </main>
<%- include('./partials/footer') %>
