<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main>
	<!-- Header -->
	<!-- /Header -->

	<!-- Novedades -->

	<% if(resultadosBusqueda){%>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda "<%= userSearch %>"</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				Resultados de tu busqueda
			</h2>
				<% for(let i=0; i< remeras.length; i++){%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/remeras/product/<%-remeras[i].id%>">
							<figure class="product-box_image">
								<img src=<%= remeras[i].img_url%> alt=<%= remeras[i].nombre%>>
							</figure>
							<article class="product-box_data">
								<h2><%= remeras[i].nombre_producto%></h2>
								<p><%= remeras[i].descripcion%></p>
								<p>Publicado por <%=remeras[i].productos_usuarios.username %></p>
								<br>
							</article>
						</a>
					</section>
				</div>
				<%}%>
			</div>
			</section>
			<%} else{%>
				<h2 class="products-title">No se encontraron resultados de tu busqueda: "<%= userSearch %>"</h2>
			<%}%>


</main>
<%- include('./partials/footer') %>
